.footer.segment {
  padding: 5em 0em;
}

.api-docs pre {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: rgba(248,246,255,1);
  font-size: 0.9em;
}

h2.site-name .edit-site {
  visibility: hidden;
}
h2.site-name:hover .edit-site {
  visibility: visible;
}

.status-table .status {
  width: 70px;
}
.status-table .date {
  width: 135px;
}
.status-table .urls {
  width: 495px;
  max-width: 495px;
  word-wrap: break-word;
}

.details-table .left {
  width: 80px;
}
.details-table .right {
  max-width: 620px;
  word-wrap: break-word;
}

.tutorial-image {
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);  
}

table.logs pre {
  word-wrap: break-word;
  word-break: break-all;
}